*

# 代码相关
!*.go
!go.sum
!go.mod

# 目录
!pkg/
!cmd/

# 自述文件
!README.md

# 开源许可证
!LICENSE

# GitHub相关
!.github/

# vscode配置
!.vscode/

# ascii画
!art.txt

# 配置文件
!.goreleaser.yaml
!.golangci.yaml
!Taskfile.yaml